span {
    color: brown;
}

section {
    display: flex;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.half-width {
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
}

.flexible-container {
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border-radius: 15px;
}

.about-me {
    background-image: url(shapes/7.png);
    background-repeat: no-repeat;
}

h3 {
    text-align: center;
    font-size: 30px;
}

.my-recipics {
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
}

#size {
    height: 200px;
    width: 300px;
    border-radius: 20px;
}

.recipie-title {
    display: flex;
    padding-left: 1%;
    padding-right: 10%;
}

h4 {
    font-size: 20px;
}

.food {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
}